* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI";
  background: #5265e4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 350px;
  height: 400px;
  padding: 40px;
  background: #141414;
  border-radius: 10px;
  margin-top: 25%;
}

.container .inputs {
  position: relative;
}

.container h1 {
  margin-bottom: 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.inputs input {
  width: 100%;
  color: #fff;
  padding: 10px 0;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: #fff 1px solid;
}

.inputs label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  transition: 0.5s;
  pointer-events: none;
}

.inputs input:focus ~ label,
.inputs input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f2;
  font-size: 14px;
}

.loginbtn {
  position: relative;
  display: inline-block;
  padding: 10px 105px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  margin: top 30px;
  letter-spacing: 4px;
  background: #141414;
}

.loginbtn:hover {
  background-color: #03e9f4;
  color: #fff;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.loginbtn span {
  position: absolute;
  display: inline-block;
}

.loginbtn span:nth-child(odd) {
  width: 100%;
  height: 2px;
}

.loginbtn span:nth-child(even) {
  width: 2px;
  height: 100%;
}

.loginbtn span:nth-child(1) {
  top: 0;
  left: -100%;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

.loginbtn span:nth-child(2) {
  right: 0;
  top: -100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

.loginbtn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

.loginbtn span:nth-child(4) {
  left: 0;
  bottom: -100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
